body{
    margin: 0;
    padding: 32px;
    height: 100dvh;
    box-sizing: border-box;
}
video{
    width: 100%;
    border-radius: 10px;
    max-height: calc(50dvh - 32px);
}
#streamVideos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 16px;
    max-height: 100dvh;
}
#handlers{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #111;
    padding: 16px;
    border-radius: 15px;
    color: #fff;
    gap: 8px;
    font-size: 20px;
}
#handlers img{
    width: 32px;
}
#handlers input{
    height: 24px;
    border-radius: 5px;
    outline: none;
}
#handlers p{
    display: inline;
}
#remoteVideo, #remoteStreaming{
    grid-row: 2/3;
}
#localVideo, #remoteVideo{
    grid-column: 1/3;
}
